img{
    width:80px;
    height:60px;
}
*{
    padding:10px;
    margin:10px;
    font-size: small;
    text-decoration: none;
}
a{
    text-decoration: none;
}
.bg
{
    background-color:rgb(151, 204, 248)
}

.fa-map-marker-alt{
    color:blue;
  }
  .fa-check-circle
  {
      color: green;
  }
  .fa-exclamation-triangle
  {
      color: red;
  }