
<div class="card mx-auto" style="width: 18rem;">
    <img src={{specificData.image}} class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Product Id : {{specificData.id}}</h5>
      <p class="card-text">Asset Name : {{specificData.asset}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Category  : {{specificData.category}}</li>
      <li class="list-group-item">Location : {{specificData.location}}</li>
      <li class="list-group-item">Asset Health : {{specificData.assetHealth}}</li>
      <li class="list-group-item">Maintenance : {{specificData.maintenance}}</li>
    </ul>

    <a routerLink="/home" class="btn btn-primary">Back</a>
   
  </div>


  